<%= render "shared/second-header"%>

<div class="purchased_order">
  <div class="purchased">
    <h3>お買い上げありがとうございます！</h3>
    <h3></h3>
    <a class="return_index" href="/">トップページ</a>
  </div>
</div>

<%= render "shared/second-footer"%>